@import "tailwindcss";

:root {
  --color-white: #FFFFFF;
  --color-black: #131E3A;
  --color-tur: #28cdbe;
  --color-transparent: transparent;
}

@layer base {
  body {
    color: var(--color-black);
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
