@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-black: #131E3A;
  --color-blue: #255ff3;
  --color-blue-rgb: 37, 95, 243;
  --color-transparent: transparent;
}

@layer base {
  body {
    color: var(--color-black);
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
